cutted
.idea
__pycache__
pynstaller string.txt
build
venv
ImgAutoCutter.spec
main.spec
.gitignore
wizardscript.iss
installericon.ico
dist/installer-imgautocutter1-0-0.exe
Output/img_autocutter-installer1-0-0.exe
installer-imgautocutter1-0-0.zip